In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [22]:
accre = pd.read_csv('../data/accre-jobs-2020.csv', nrows = 3000)

In [23]:
accre

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,17045075_704,winged,lavona,4096Mn,217.62M,4-00:00:00,19:03:36,1,1,production,0:0,COMPLETED,cn308
2996,17045075_705,winged,lavona,4096Mn,218.00M,4-00:00:00,23:01:07,1,1,production,0:0,COMPLETED,cn306
2997,17045075_706,winged,lavona,4096Mn,223.82M,4-00:00:00,15:41:32,1,1,production,0:0,COMPLETED,cn306
2998,17045075_707,winged,lavona,4096Mn,291.09M,4-00:00:00,20:21:27,1,1,production,0:0,COMPLETED,cn306
2999,17045075_708,winged,lavona,4096Mn,229.59M,4-00:00:00,1-00:08:14,1,1,production,0:0,COMPLETED,cn306