In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline
from datetime import timedelta
import datetime
import re

#### Read in the data. The Nodes column triggers errors because several values are spread out over multiple other columns to the right.

In [2]:
#accre = pd.read_csv('../data/accre-jobs-2020.csv',names=['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       #'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'STATE', 'NODELIST'])

#MP's previous suggestion for how to read in the file by identifying which columns to include. Resulted in adding additional row with column names as row values

In [3]:
accre = pd.read_csv('../data/accre-jobs-2020.csv', nrows=9000, error_bad_lines=False)

b'Skipping line 3461: expected 13 fields, saw 15\nSkipping line 3462: expected 13 fields, saw 16\nSkipping line 3465: expected 13 fields, saw 15\nSkipping line 3468: expected 13 fields, saw 16\nSkipping line 3472: expected 13 fields, saw 15\nSkipping line 3476: expected 13 fields, saw 16\nSkipping line 3479: expected 13 fields, saw 14\nSkipping line 3482: expected 13 fields, saw 14\nSkipping line 3486: expected 13 fields, saw 14\nSkipping line 3490: expected 13 fields, saw 14\nSkipping line 3494: expected 13 fields, saw 14\nSkipping line 3495: expected 13 fields, saw 16\nSkipping line 3497: expected 13 fields, saw 14\nSkipping line 3498: expected 13 fields, saw 14\nSkipping line 3499: expected 13 fields, saw 14\nSkipping line 3505: expected 13 fields, saw 14\nSkipping line 3517: expected 13 fields, saw 16\nSkipping line 3526: expected 13 fields, saw 15\nSkipping line 3528: expected 13 fields, saw 15\nSkipping line 3529: expected 13 fields, saw 15\nSkipping line 3530: expected 13 fields, saw 15\nSkipping line 3531: expected 13 fields, saw 15\nSkipping line 3532: expected 13 fields, saw 15\nSkipping line 3535: expected 13 fields, saw 15\nSkipping line 3539: expected 13 fields, saw 14\nSkipping line 3541: expected 13 fields, saw 16\nSkipping line 3542: expected 13 fields, saw 16\nSkipping line 3543: expected 13 fields, saw 14\nSkipping line 3545: expected 13 fields, saw 16\nSkipping line 3547: expected 13 fields, saw 16\nSkipping line 3550: expected 13 fields, saw 16\nSkipping line 3551: expected 13 fields, saw 16\nSkipping line 3554: expected 13 fields, saw 16\nSkipping line 3578: expected 13 fields, saw 14\nSkipping line 3579: expected 13 fields, saw 14\nSkipping line 3580: expected 13 fields, saw 14\nSkipping line 3581: expected 13 fields, saw 14\nSkipping line 3582: expected 13 fields, saw 14\nSkipping line 3594: expected 13 fields, saw 14\nSkipping line 3603: expected 13 fields, saw 14\nSkipping line 3604: expected 13 fields, saw 14\nSkipping line 3605: expected 13 fields, saw 15\nSkipping line 3610: expected 13 fields, saw 14\nSkipping line 3619: expected 13 fields, saw 14\nSkipping line 3620: expected 13 fields, saw 16\nSkipping line 3631: expected 13 fields, saw 14\nSkipping line 3632: expected 13 fields, saw 14\nSkipping line 3633: expected 13 fields, saw 14\nSkipping line 3634: expected 13 fields, saw 15\nSkipping line 3644: expected 13 fields, saw 14\nSkipping line 3645: expected 13 fields, saw 14\nSkipping line 3655: expected 13 fields, saw 14\nSkipping line 3662: expected 13 fields, saw 14\nSkipping line 3663: expected 13 fields, saw 14\nSkipping line 3675: expected 13 fields, saw 15\nSkipping line 7349: expected 13 fields, saw 15\nSkipping line 7350: expected 13 fields, saw 16\nSkipping line 7351: expected 13 fields, saw 14\nSkipping line 7352: expected 13 fields, saw 16\nSkipping line 7353: expected 13 fields, saw 14\n'

In [4]:
accre.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [5]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      9000 non-null   object
 1   ACCOUNT    9000 non-null   object
 2   USER       9000 non-null   object
 3   REQMEM     9000 non-null   object
 4   USEDMEM    9000 non-null   object
 5   REQTIME    9000 non-null   object
 6   USEDTIME   9000 non-null   object
 7   NODES      9000 non-null   int64
 8   CPUS       9000 non-null   int64
 9   PARTITION  9000 non-null   object
 10  EXITCODE   9000 non-null   object
 11  STATE      9000 non-null   object
 12  NODELIST   9000 non-null   object
dtypes: int64(2), object(11)
memory usage: 914.2+ KB

#### We really only want to look at the "production" partition so rows with other partitions should be removed

In [6]:
#make column names lowercase, per group discussion
accre.columns = accre.columns.str.lower()

In [7]:
#examining range of rows during group discussion
#accre.iloc[3449:3471,:]

#### Remove rows with values other than "production" in the Partition column.
"We really only want to look at the "production" partition so rows with other partitions should be removed"

In [8]:
accre.partition.value_counts()

production        7274
turing            1253
nogpfs             435
sam                 12
debug               10
pascal               8
cgw-capra1           2
maxwell              2
cgw-cqs1             2
cgw-tbi01            1
cgw-dougherty1       1
Name: partition, dtype: int64

In [9]:
#use Boolean mask and save df back to itself.
accre = accre[accre['partition']=='production']

#### Job time is in a format of either d-hh:mm:ss or hh:mm:ss, it needs to be converted to total seconds

In [10]:
accre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7274 entries, 0 to 8999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   jobid      7274 non-null   object
 1   account    7274 non-null   object
 2   user       7274 non-null   object
 3   reqmem     7274 non-null   object
 4   usedmem    7274 non-null   object
 5   reqtime    7274 non-null   object
 6   usedtime   7274 non-null   object
 7   nodes      7274 non-null   int64
 8   cpus       7274 non-null   int64
 9   partition  7274 non-null   object
 10  exitcode   7274 non-null   object
 11  state      7274 non-null   object
 12  nodelist   7274 non-null   object
dtypes: int64(2), object(11)
memory usage: 795.6+ KB

In [11]:
#pd.to_datetime returned error Unknown string format 13-18:00:00.  Replace the - with :

accre['reqtime'] = accre['reqtime'].str.replace('-',':')
#accre['usedtime'] = accre['usedtime'].str.replace('-',':')

In [13]:
#create a placeholder column in order to view the original and updated values side by side
#accre['reqtime2'] = accre['reqtime']

In [14]:
#accre['reqtime2'] = pd.to_timedelta(accre['reqtime2'])

In [17]:
accre.sample(5)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
1256,17021284_215,regal,debbra,16384Mn,1229.84M,6:06:00:00,1-22:16:15,1,1,production,0:0,COMPLETED,cn340
2631,17045075_336,winged,lavona,4096Mn,292.47M,4:00:00:00,15:55:49,1,1,production,0:0,COMPLETED,cn1349
777,17016718_96,sunburst,darlyne,8192Mn,972.35M,1:00:00:00,07:07:29,1,1,production,0:0,COMPLETED,cn495
7807,17092513_2,cep,codie,4096Mc,1723.78M,7:00:00:00,2-03:53:28,1,1,production,0:0,COMPLETED,cn1135
3536,17050901_200,winged,lavonda,4096Mn,2132.91M,12:00:00,12:00:22,1,4,production,0:0,COMPLETED,cn430

In [48]:
#Write & test if/else portion of formula. IF the string value in the column is shorter than 9 characters, then it means there is no hour data.
#Fill in the hour value by appending '0-' on the left of the string. This will make all our strings able to parse into an equal number of substrings.

time = '1-22:16:15'

if len(time) <9:
    time = "0-" + time
else: time

In [66]:
#Use regex to select either '-' OR ':' as delimiter for split
#Cast substring to numeric, turning it into an array. Cleaner to do it here than for each individual substring

substring = pd.to_numeric(re.split('[-|:]',time))
substring

array([ 1, 22, 16, 15])

In [74]:
#Separate each element of the array and save to variable representing unit of time
#Add the product of each variable and the multiplier to get the total time in seconds

day = substring[-4]
hours = substring[-3]
minutes = substring[-2]
seconds = substring[-1]

time_in_seconds= day*86400 + hours*3600 + minutes*60 + seconds

In [89]:
sample_df = {'job':['1','2','3','4','5'],'reqtime_test':['23:58:00','2-10:58:00','2-00:00:00','22:18:36','4-02:50:00'],'usedtime_test':['22:19:15','1-23:58:00','1-05:17:04','20:52:47','4-02:50:01']}
sample_df = pd.DataFrame(sample_df,columns=['job','reqtime_test','usedtime_test'])
sample_df

  job reqtime_test usedtime_test
0   1     23:58:00      22:19:15
1   2   2-10:58:00    1-23:58:00
2   3   2-00:00:00    1-05:17:04
3   4     22:18:36      20:52:47
4   5   4-02:50:00    4-02:50:01

In [111]:
sample_df['reqtime_seconds'] = sample_df['reqtime_test'].apply(convert_time_to_seconds)

In [112]:
sample_df

  job reqtime_test usedtime_test  reqtime_seconds
0   1     23:58:00      22:19:15            86280
1   2   2-10:58:00    1-23:58:00           212280
2   3   2-00:00:00    1-05:17:04           172800
3   4     22:18:36      20:52:47            80316
4   5   4-02:50:00    4-02:50:01           355800

In [106]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job              5 non-null      object
 1   reqtime_test     5 non-null      object
 2   usedtime_test    5 non-null      object
 3   reqtime_seconds  5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [108]:
#Define time_in_seconds()

#def convert_time_to_seconds(time):
    #"""Return an integer value of the time converted into seconds."""
    
    #Identify values not formatted as dhhmmss. Fill in the hour value by appending '0-' on the left of the string. 
    #This will make all our strings able to parse into an equal number of substrings.
    
    #if len(time) <9:
        #time = "0-" + time
   # else: time
    
    #Use regex to select either '-' OR ':' as delimiter for split
    #Cast the list of substrings to numeric, turning it into an array. Cleaner to do it here than for each individual substring
    #time = pd.to_numeric(re.split('[-|:]',time))

    #Separate each element of the array and save to variable representing unit of time
    #day = time[-4]
    #hours = time[-3]
    #minutes = time[-2]
    #seconds = time[-1]

    #Add the product of each unit and it's multiplier to get the total time in seconds
    #time_in_seconds= day*86400 + hours*3600 + minutes*60 + seconds
    
    #return time_in_seconds

In [113]:
#Convert the times into seconds

def convert_time_to_seconds(time):
    """Return an integer value of the time converted into seconds."""
    
    #Identify values not formatted as d-hh:mm:ss. Fill in the hour value by appending '0-' on the left of the string. 
    #This will make all our strings cleanly parse into an equal number of substrings.
    
    if len(time) <9:
        time = "0-" + time
    else: time
    
    #Use regex to select either '-' OR ':' as delimiter for split. The resulting substring list is ordered as [days, hours, minutes, seconds]
    #Cast the list of substrings to numeric, turning it into an array. Cleaner to do it here than for each individual substring
    time = pd.to_numeric(re.split('[-|:]',time))

    #Add the product of each unit and its multiplier to get the total time in seconds
    
    time_in_seconds = time[-4]*86400 + time[-3]*3600 + time[-2]*60 + time[-1]
    
    return time_in_seconds

#### Memory is reported in terms of Megabytes per node (Mc) or Megabytes per core (Mc), this needs to be uniformly converted to Megabytes per core by dividing by the number of cores per node in a job.

In [17]:
accre.head(10)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,reqtime2
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,-55 days +02:00:00
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,-55 days +02:00:00
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,-55 days +02:00:00
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,-55 days +02:00:00
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,-55 days +02:00:00
5,16297022,treviso,arabella,122880Mn,65183.02M,13-18:00:00,12-02:31:43,1,24,production,0:0,COMPLETED,cn1443,-55 days +02:00:00
6,16297024,treviso,arabella,122880Mn,64941.85M,13-18:00:00,13-06:54:59,1,24,production,0:0,COMPLETED,cn1531,-55 days +02:00:00
7,16316283,treviso,arabella,122880Mn,68499.51M,13-18:00:00,13-18:00:05,1,24,production,0:0,COMPLETED,cn1535,-55 days +02:00:00
8,16316284,treviso,arabella,122880Mn,67761.41M,13-18:00:00,13-18:00:15,1,24,production,0:0,COMPLETED,cn1464,-55 days +02:00:00
9,16316324,treviso,arabella,122880Mn,68087.66M,13-18:00:00,13-18:00:06,1,24,production,0:0,COMPLETED,cn1473,-55 days +02:00:00

In [31]:
accre.sample(50)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,reqtime2
6429,17079227,wood,hillery,17000Mn,66.40M,23:58:00,21:03:18,1,1,production,0:0,COMPLETED,cn1349,0 days 23:58:00
2233,17041024,cms,cmspilot,28000Mn,6450.76M,2-00:00:00,1-18:37:21,1,4,production,0:0,COMPLETED,cn1434,-9 days +16:00:00
719,17016718_38,sunburst,darlyne,8192Mn,1960.04M,1-00:00:00,05:46:29,1,1,production,0:0,COMPLETED,cn1439,-5 days +20:00:00
8195,17094298,cms,cmspilot,28000Mn,2748.91M,2-00:00:00,00:13:18,1,4,production,0:0,COMPLETED,cn1354,-9 days +16:00:00
7878,17092515_16,cep,codie,4096Mc,1715.27M,7-00:00:00,3-02:00:44,1,1,production,0:0,COMPLETED,cn422,-30 days +20:00:00
4023,17053757_23,carrot,codie,4096Mc,1724.20M,7-00:00:00,1-23:31:39,1,1,production,0:0,COMPLETED,cn1376,-30 days +20:00:00
6428,17079226,wood,hillery,17000Mn,66.31M,23:58:00,23:58:04,1,1,production,0:0,COMPLETED,cn411,0 days 23:58:00
7490,17091615,cms_lowprio,cmslocal,28000Mn,8405.18M,2-00:00:00,04:50:33,1,4,production,0:0,COMPLETED,cn1481,-9 days +16:00:00
7214,17090680,cms,cmslocal,28000Mn,8304.35M,2-00:00:00,06:17:26,1,4,production,0:0,COMPLETED,cn438,-9 days +16:00:00
3219,17045075_928,winged,lavona,4096Mn,274.99M,4-00:00:00,20:30:54,1,1,production,0:0,COMPLETED,cn1485,-17 days +08:00:00
110,16849298_2083,minnewashta,jenniffer,16384Mn,585.75M,2-22:00:00,2-15:00:07,1,1,production,0:0,COMPLETED,cn1391,-10 days +18:00:00
3343,17049411_10,cep,gertrude,4096Mn,2056.49M,3-00:00:00,2-08:38:17,1,1,production,0:0,COMPLETED,cn1306,-13 days +12:00:00
4646,17069147,cms,cmspilot,28000Mn,6439.48M,2-00:00:00,1-00:02:11,1,4,production,0:0,COMPLETED,cn1207,-9 days +16:00:00
2300,17043082,wood,hillery,600Mn,161.80M,2-10:58:00,2-10:58:01,1,1,production,0:0,COMPLETED,cn1096,-9 days +05:02:00
4347,17064839_153,pasilla,margaretta,204800Mn,114.48M,7-00:00:00,04:59:26,1,16,production,0:0,COMPLETED,cn1503,-30 days +20:00:00
7599,17092020,cms_lowprio,cmspilot,28000Mn,3475.62M,2-00:00:00,06:00:17,1,4,production,0:0,COMPLETED,cn1294,-9 days +16:00:00
87,16849298_2018,minnewashta,jenniffer,16384Mn,564.11M,2-22:00:00,2-22:00:30,1,1,production,0:0,COMPLETED,cn309,-10 days +18:00:00
8819,17095430,cms_lowprio,cmslocal,28000Mn,6688.89M,2-00:00:00,07:31:44,1,4,production,0:0,COMPLETED,cn418,-9 days +16:00:00
6837,17083370_513,winged,lavona,4096Mn,222.63M,4-00:00:00,14:05:50,1,1,production,0:0,COMPLETED,cn1376,-17 days +08:00:00
3304,17046334,bulk,deyanira,40960Mn,38076.23M,14-00:00:00,2-01:18:01,1,2,production,0:0,COMPLETED,cn1371,-59 days +16:00:00
8647,17095100,cms,cmslocal,5000Mn,2352.77M,2-00:00:00,07:41:56,1,1,production,0:0,COMPLETED,cn1353,-9 days +16:00:00
683,16955377_7,mixed,nim,20480Mn,5206.72M,8-08:00:00,8-08:00:29,1,1,production,0:0,COMPLETED,cn1204,-34 days +08:00:00
4372,17064839_178,pasilla,margaretta,204800Mn,114.02M,7-00:00:00,04:36:02,1,16,production,0:0,COMPLETED,cn1519,-30 days +20:00:00
7715,17092185,cms_lowprio,cmspilot,28000Mn,6129.25M,2-00:00:00,04:13:02,1,4,production,0:0,COMPLETED,cn1533,-9 days +16:00:00
3623,17050901_309,winged,lavonda,4096Mn,132.79M,12:00:00,00:01:12,1,4,production,0:0,COMPLETED,cn1500,0 days 12:00:00
8008,17093460,cms,cmspilot,28000Mn,10912.85M,2-00:00:00,1-19:04:48,1,4,production,0:0,COMPLETED,cn1495,-9 days +16:00:00
7467,17091520,cms,cmspilot,28000Mn,10067.43M,2-00:00:00,1-21:16:03,1,4,production,0:0,COMPLETED,cn1502,-9 days +16:00:00
1954,17023702_356,portabella,cinnamon,4096Mn,212.66M,08:00:00,01:24:51,1,1,production,0:0,COMPLETED,cn1264,0 days 08:00:00
1477,17021284_437,regal,debbra,16384Mn,1027.87M,6-06:00:00,6-06:00:02,1,1,production,0:0,COMPLETED,cn314,-26 days +18:00:00
7755,17092231,cms_lowprio,cmslocal,5000Mn,2094.12M,2-00:00:00,04:08:40,1,1,production,0:0,COMPLETED,cn1495,-9 days +16:00:00
717,17016718_36,sunburst,darlyne,8192Mn,974.66M,1-00:00:00,05:57:35,1,1,production,0:0,COMPLETED,cn1439,-5 days +20:00:00
903,17016720_24,sunburst,darlyne,8192Mn,1984.70M,14-00:00:00,7-02:08:31,1,1,production,0:0,COMPLETED,cn417,-59 days +16:00:00
4203,17063540,cms,cmspilot,28000Mn,13410.71M,2-00:00:00,1-16:56:48,1,4,production,0:0,COMPLETED,cn355,-9 days +16:00:00
1518,17021284_478,regal,debbra,16384Mn,994.54M,6-06:00:00,4-22:28:56,1,1,production,0:0,COMPLETED,cn1306,-26 days +18:00:00
8863,17095474,cms_lowprio,cmslocal,28000Mn,9481.72M,2-00:00:00,07:51:23,1,4,production,0:0,COMPLETED,cn1232,-9 days +16:00:00
3346,17049411_17,cep,gertrude,4096Mn,2058.54M,3-00:00:00,2-16:03:31,1,1,production,0:0,COMPLETED,cn1390,-13 days +12:00:00
8670,17095126,cms_lowprio,cmspilot,28000Mn,24890.96M,2-00:00:00,1-15:40:08,1,4,production,0:0,COMPLETED,cn460,-9 days +16:00:00
3818,17052388_30,carrot,codie,4096Mc,1724.04M,7-00:00:00,2-08:23:36,1,1,production,0:0,COMPLETED,cn484,-30 days +20:00:00
6848,17086376_3,cep,hoy,1024Mc,520.83M,1-01:00:00,1-00:22:24,1,1,production,0:0,COMPLETED,cn1127,-5 days +19:00:00
1707,17021340_136,crab,nile,1024Mn,2.12M,4-04:00:00,00:02:22,1,1,production,0:0,COMPLETED,cn1093,-17 days +04:00:00
2621,17045075_326,winged,lavona,4096Mn,294.35M,4-00:00:00,20:39:02,1,1,production,0:0,COMPLETED,cn1479,-17 days +08:00:00
3562,17050901_235,winged,lavonda,4096Mn,673.52M,12:00:00,00:02:14,1,4,production,0:0,COMPLETED,cn1263,0 days 12:00:00
8562,17094941,cms_lowprio,cmslocal,5000Mn,2245.37M,2-00:00:00,08:05:26,1,1,production,0:0,COMPLETED,cn1132,-9 days +16:00:00
2272,17043046,wood,hillery,600Mn,156.62M,2-10:58:00,2-10:58:12,1,1,production,0:0,COMPLETED,cn1125,-9 days +05:02:00
4335,17064839_140,pasilla,margaretta,204800Mn,123.41M,7-00:00:00,03:56:33,1,16,production,0:0,COMPLETED,cn1529,-30 days +20:00:00
3333,17048588_9,summer,deon,40960Mn,11370.88M,7-02:00:00,1-15:21:30,1,2,production,0:0,COMPLETED,cn403,-30 days +18:00:00
3135,17045075_844,winged,lavona,4096Mn,290.59M,4-00:00:00,15:06:10,1,1,production,0:0,COMPLETED,cn1361,-17 days +08:00:00
2732,17045075_441,winged,lavona,4096Mn,291.57M,4-00:00:00,1-03:53:42,1,1,production,0:0,COMPLETED,cn422,-17 days +08:00:00
208,16849298_2277,minnewashta,jenniffer,16384Mn,584.00M,2-22:00:00,2-14:52:40,1,1,production,0:0,COMPLETED,cn1339,-10 days +18:00:00
7139,17090191,cms_lowprio,cmslocal,28000Mn,8418.66M,2-00:00:00,06:55:54,1,4,production,0:0,COMPLETED,cn478,-9 days +16:00:00

In [32]:
accre[accre['nodes'].value_counts()

1    7218
2      49
3       7
Name: nodes, dtype: int64

In [ ]:
#MP code shared in chat 10-3
#accre[['exitcode_user', 'exitcode_node']] = accre['exitcode'].str.split(':', expand=True).astype(int)
#new DF only including records with node failures. 
#accre_node_failure = accre.loc[accre['exitcode_node'] != 0]

In [21]:
accre.NODES.nunique()

94

In [22]:
accre.NODES.value_counts()

1     3745514
1       65391
2        2459
3         861
4         579
       ...
51          1
44          1
43          1
41          1
61          1
Name: NODES, Length: 94, dtype: int64

In [34]:
accre[accre.NODES==1].nunique()

JOBID        3745514
ACCOUNT          172
USER             594
REQMEM           204
USEDMEM       827081
REQTIME          448
USEDTIME      161540
NODES              1
CPUS              23
PARTITION         15
EXITCODE          24
STATE             33
NODELIST         868
dtype: int64

In [36]:
accre[(accre.STATE=='FAILED')|(accre.STATE=='OUT_OF_MEMORY')].shape

(1500, 13)